<footer class="text-center p-5 mt-12 text-sm text-neutral-300">
  <p class="flex flex-wrap gap-4 justify-center items-center">
    <a href="https://astro.build">
      <img
        src="/v2/built-with-astro/tiny.svg"
        alt="Built with Astro"
        width="120"
        height="20"
        loading="lazy"
        class="inline"
      />
    </a>
    <a
      href="https://zeabur.com?referralCode=liruifengv&utm_source=liruifengv&utm_campaign=oss"
      ><img
        class="w-40"
        src="https://zeabur.com/deployed-on-zeabur-dark.svg"
        alt="Deployed on Zeabur"
      /></a
    >
    <a
      href="https://github.com/liruifengv/astro-cn.com"
      class="hover:text-gray-700 underline underline-offset-4 text-gray-400"
    >
      Source code on GitHub</a
    >
  </p>
</footer>
