<footer class="my-footer">
  <p class="flex">
    <a href="https://astro.build">
      <img
        src="/v2/built-with-astro/tiny.svg"
        alt="Built with Astro"
        width="120"
        height="20"
        loading="lazy"
        class="inline"
      />
    </a>
    <a href="https://zeabur.com?referralCode=liruifengv&utm_source=liruifengv&utm_campaign=oss"><img class="zeabur" src=https://zeabur.com/deployed-on-zeabur-dark.svg alt="Deployed on Zeabur"/></a>
    <a href="https://github.com/liruifengv/astro-site-showcase-cn" class="github"> Source code on GitHub</a>
  </p>
</footer>

<style>
  .footer {
    text-align: center;
    line-height: 1.25rem;
  }
  .flex {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
  }
  .zeabur {
    width: 10rem;
    height: 2.5rem;
  }
  a {
    color: #858b98;
    line-height: 1.25rem;
  }
  .github {
    display: flex;
    align-items: center;
    justify-content: center;
  }
</style>