---
interface Props {
	href?: string | undefined;
}
const { href } = Astro.props;
const El = href ? "a" : "span";
---

<li class="not-content flex">
	<El class="media-card" {href} target="_blank">
		<div class="media"><slot name="media" /></div>
		<slot />
	</El>
</li>

<style>
	.media-card {
		flex-direction: column;
		border: 1px solid #c2c2c2;
		border-radius: 0.5rem;
		overflow: hidden;
		text-decoration: none;
		box-shadow: 0px 1px 1px hsla(0, 0%, 0%, .06), 0px 2px 1px hsla(0, 0%, 0%, .06);
		width: 100%;
	}
	
	.media-card:hover {
		transition-timing-function: cubic-bezier(0,0,.2,1);
		transform: scale(1.03);
		transition: transform 0.3s ease;
	}

	.media {
		border-bottom: 1px solid #c2c2c2;
	}

	.media :global(img) {
		display: block;
		max-width: 100%;
		height: auto;
		aspect-ratio: 16 / 9;
		object-fit: cover;
	}

	.media-card :global(.title) {
		color: #181818;
		font-weight: 600;
		line-height: 1.2;
	}
</style>
