---
import BaseHead, { type Props as HeadProps } from "@/components/BaseHead.astro"
import SkipLink from "@/components/SkipLink.astro"
import Header from "@/components/header/Header.astro"
import Footer from "@/components/footer.astro"

import "@/styles/globals.css"

interface Props extends HeadProps {
  class?: string
}

const { ...head } = Astro.props
---

<!doctype html>
<html
  lang="zh-CN"
  class:list={[
    "overflow-x-hidden break-words bg-gray-50 dark:bg-gray-900",
    Astro.props.class,
  ]}
>
  <head>
    <BaseHead {...head} />
  </head>
  <body class="flex min-h-screen max-w-screen flex-col overflow-x-hidden">
    <SkipLink />
    <Header />
    <main
      id="main"
      class="relative z-10 flex flex-1 flex-col w-full mt-16 items-center"
    >
      <slot />
    </main>
    <Footer />
    <style>
      body::before {
        content: "";
        position: fixed;
        display: block;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 11;
        background: #0d0f14;
        pointer-events: none;
        opacity: 0;
        transition: opacity 400ms cubic-bezier(0.23, 1, 0.32, 1);
      }
    </style>
  </body>
</html>
